.footer {
	padding: 8px 0;
	color: var(--color-white);
	background-color: var(--color-blue-800);

	@include mq(sm) {
		padding: 12px 0;
	}

	&__wrapper {
		@include flex-center-sb;

		@include mq(sm) {
			flex-direction: column;
			gap: 4px;
			justify-content: center;
		}
	}
}
