.form {
	display: flex;
	flex-direction: column;
	@include adaptive-value-base('gap', 26, 16, 1);

	&__items {
		display: flex;
		@include adaptive-value-base('gap', 26, 16, 1);

		@include mq(md) {
			flex-direction: column;
		}
	}

	&__item {
		width: 100%;
	}

	&__field {
		width: 100%;
		background-color: var(--color-white);
		border: 2px solid transparent;
		border-radius: 5px;
		transition: border-color 0.3s;
		@include adaptive-value-base('padding', 15, 10, 1);

		&::placeholder {
			color: var(--color-orange-600);
			transition: color 0.3s;
		}

		&:focus {
			border-color: var(--color-yellow-600);
		}

		@media (any-hover: hover) {
			&:hover {
				&::placeholder {
					color: var(--color-dark-900);
				}
			}
		}

		&--message {
			@include adaptive-value-base('min-height', 200, 120, 1);
			resize: vertical;
		}
	}

	&__button {
		width: max-content;
	}
}
