.tariffs {
	.container {
		max-width: 1003px;
	}

	&__title {
		display: inline-block;
	}

	&__items {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		@include adaptive-value-base('gap', 30, 16, 1);
		align-items: flex-end;

		@include mq(sm) {
			grid-template-columns: 1fr;
			gap: 26px;
		}
	}

	&__item {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: 100%;
	}
}
