<article class="help-card">
    <div class="help-card__decor">
        <h3 class="help-card__subtitle subtitle">@title</h3>
        <svg viewBox="0 0 382 117" preserveAspectRatio="none">
            <path d="M382 102V63.4751C334.742 24.181 107.643 9.09586 0 0V102C0 110.284 6.71573 117 15 117H367C375.284 117 382 110.284 382 102Z"></path>
        </svg>
    </div>
    <picture>
        <source srcset="img/help/@img.avif 1x, img/help/@img@2x.avif 2x" type="image/avif">
        <source srcset="img/help/@img.webp 1x, img/help/@img@2x.webp 2x" type="image/webp">
        <img class="help-card__img" src="img/help/@img.jpg" srcset="img/help/@img@2x.jpg 2x" alt="@alt" width="382" height="320" loading="lazy">
    </picture>
</article>