body {
	color: var(--color-dark-900);
	font-weight: var(--font-weight-regular);
	@include adaptive-value-base('font-size', 18, 16, 1);
	font-family: var(--font-family-openSans), Arial, sans-serif;
	line-height: 1.3;
	background-color: var(--color-white);
}

.container {
	width: 100%;
	max-width: 1236px;
	margin: 0 auto;
	padding: 0 15px;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	overflow: hidden;
}

.main {
	flex: 1 1 auto;
}

.lock {
	overflow: hidden;
}

.button {
	@include flex-all-center;
	padding: 15px 30px;
	font-weight: var(--font-weight-bold);
	line-height: 1.1;
	background-color: var(--color-yellow-600);
	border-radius: 15px;

	&--border {
		background-color: transparent;
		border: 2px solid var(--color-yellow-600);
	}
}

.title {
	font-weight: var(--font-weight-bold);
	@include adaptive-value-base('font-size', 40, 24, 1);
	@include adaptive-value-base('margin-bottom', 50, 24, 1);
}

.subtitle {
	font-weight: var(--font-weight-semibold);
	@include adaptive-value-base('font-size', 24, 19, 1);
}

.section {
	@include adaptive-value-base('padding-bottom', 50, 35, 1);
	@include adaptive-value-base('padding-top', 50, 35, 1);
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: 1px;
	padding: 0;
	overflow: hidden;
	white-space: nowrap;
	border: 0;
	clip: rect(0 0 0 0);
	clip-path: inset(100%);
}

.disable-scroll {
	position: relative;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	overflow: hidden;
}

.logo {
	display: inline-block;
	width: 100%;
	@include adaptive-value-base('width', 147, 111, 1);
	@include adaptive-value-base('height', 82, 62, 1);

	&__img {
		width: 100%;
		height: 100%;
		object-fit: contain;
	}
}

.swiper-slide {
	box-sizing: border-box;
}

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	z-index: -1;
	width: 100%;
	height: 100%;
	background-color: rgba(var(--color-black), 0.5);
	opacity: 0;

	&--active {
		z-index: 4;
		opacity: 1;
	}
}

.video {
	position: relative;
	@include bg-cover;

	&__play {
		position: absolute;
		@include adaptive-value-base('width', 64, 44, 1);
		@include adaptive-value-base('height', 64, 44, 1);
		background-color: var(--color-white);
		border-radius: 50%;

		&::before,
		&::after {
			position: absolute;
			content: '';
		}

		&::before {
			top: -8px;
			left: -8px;
			@include adaptive-value-base('width', 80, 60, 1);
			@include adaptive-value-base('height', 80, 60, 1);
			border: 2px solid var(--color-white);
			border-radius: 50%;
		}

		&::after {
			@include bg-contain;
			top: 50%;
			left: 50%;
			@include adaptive-value-base('width', 36, 24, 1);
			@include adaptive-value-base('height', 36, 24, 1);
			background-image: url('../img/icons/play.svg');
			transform: translate(-44%, -50%);
		}
	}
}
