:root {
	--color-white: #ffffff;
	--color-black: #000000;
	--color-dark-900: #202020;
	--color-blue-800: #1f2c65;
	--color-yellow-600: #e9b938;
	--color-orange-200: #fce9d7;
	--color-orange-600: #6d6359;

	--font-family-proze: 'Proza';

	--font-weight-regular: 400;
	--font-weight-medium: 500;
	--font-weight-semibold: 600;
	--font-weight-bold: 700;
}
