.header {
	position: relative;
	top: 0;
	right: 0;
	left: 0;
	z-index: 5;
	padding: 4px 0;
	color: var(--color-white);
	background-color: var(--color-blue-800);
	transform: translateY(0);
	transition: transform 0.3s ease-out;

	&--fixed {
		position: fixed;
		transform: translateY(0);
	}

	&--hide {
		position: fixed;
		transform: translateY(-100%);
	}

	&__navigation {
		gap: 20px;
		@include flex-center-sb;
	}
}
